<!-- grid when watching from desktop -->

<!-- tab when watching from mobile -->
<md-tab-group *ngIf="isDeviceXs" [style.width]="mdTabGroupWidth">
  <md-tab *ngFor="let chan of chanList">
    <template md-tab-label>{{chan.name}}</template>
    <div id="tab-content">
    <div id="timeline"></div>
      <div id="program-panel">
      <div class="program" *ngFor="let prog of progList">
        <app-program [program]="prog"></app-program>
      </div>
    </div>
  </div>
  </md-tab>
</md-tab-group>
