@import '../../styles.scss';

#tab-content {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  #timeline {
    flex: 0 0 20%;
  }

  #program-panel {
    flex: 1 1 auto;
    width: 100%;
    padding: 12px;

    .program {
      margin-bottom: 12px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
