@import '../styles.scss';

md-toolbar {
  @include piling-deep();
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  .app-icon {
    margin: 0 12px 0 0;
    transition-property: transform;
    transition-duration: 0.3s;
    transform: rotate3d(0, 0, 1, 0deg);
  }

  .side-nav-opened {
    transform: rotate3d(0, 0, 1, 90deg);
  }
}

.main {
  margin-top: $HEADER_HEIGHT;
  @media (max-width: 600px) and (orientation: portrait) {
    margin-top: $HEADER_HEIGHT_XS_PL;
  }
  @media (max-width: 960px) and (orientation: landscape) {
    margin-top: $HEADER_HEIGHT_SM_LS;
  }
}

.toolbar-fill-space {
  flex: 1 1 auto;
}
