$HEADER_HEIGHT_GT_XS : 64px;
$HEADER_HEIGHT_XS : 56px;


.header {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 10;

  .app-icon {
    margin: 0 12px 0 0;
  }
}

.main {
  margin-top: $HEADER_HEIGHT_GT_XS;
  @media (max-width: 600px) and (orientation: portrait) {
      margin-top: $HEADER_HEIGHT_XS;
  }
}

.toolbar-fill-space {
  flex: 1 1 auto;
}
