@import '../styles.scss';
$md-card-header-height: auto;
$md-card-padding: 8px;

.prog-panel {
  padding: 6px 12px 6px 12px;

  md-card {
    padding: 0;

    md-card-header {
      height: $md-card-header-height;
      padding: 8px;
      color: $white-87-opacity;
      background-color: $anime;
      font-size: 14px;

      .card-avatar {
        flex: 0 0 40px;
        display: flex;
        /* 縦方向中央揃え */
        align-items: center;
        /* 横方向中央揃え */
        justify-content: center;
        color: $anime;
        background-color: $white-87-opacity;
        font-size: 20px;
        font-weight: 900;
      }

      md-card-title {
        height: 40px;
        overflow: hidden;
      }
    }

    .card-subheader {
      margin: 0;
      color: $black-87-opacity;
      background-color: lighten($anime, 30%);
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
      font-size: 14px;
      text-align: right;
    }

    md-card-content {
      padding: $md-card-padding;
    }

    md-card-actions {
      display: flex;
      justify-content: flex-end;
      margin: 0 8px 0 8px;
      padding: 0 0 8px 0;
    }
  }
}
