<!-- grid when watching from desktop -->

<!-- tab when watching from mobile -->
<md-tab-group *ngIf="isDeviceXs">
  <md-tab label="Tab 1">
    <div *ngFor="let prog of progList">
      <md-card class="program-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>{{prog.title}}</md-card-title>
          <md-card-subtitle>
            {{prog.starttime|date:'HH:mm'}}&nbsp;-&nbsp;{{prog.endtime|date:'HH:mm'}}
          </md-card-subtitle>
        </md-card-header>
        <img md-card-image src="assets/img/examples/shiba2.jpg">
        <md-card-content>{{prog.description}}</md-card-content>
        <md-card-actions>
          <button md-button>予約</button>
        </md-card-actions>
      </md-card>
    </div>
  </md-tab>
  <md-tab label="Tab 2">Content 2</md-tab>
</md-tab-group>
