.example-container {
 width: 100%;
 min-height: 400px;
}

.example-sidenav-content {
 display: flex;
 height: 100%;
 align-items: center;
 justify-content: center;
}

.example-sidenav {
 padding: 20px;
}
