@import '../../styles.scss';

@mixin container-height() {
  height: calc(100vh - #{$HEADER_HEIGHT});
  @media (max-width: 600px) and (orientation: portrait) {
    height: calc(100vh - #{$HEADER_HEIGHT_XS_PL});
  }
  @media (max-width: 960px) and (orientation: landscape) {
    height: calc(100vh - #{$HEADER_HEIGHT_SM_LS});
  }
}

md-sidenav-container {
  margin: 0;
  width: 100%;
  .content {
    @include container-height();
    // display: flex;
    margin: 0;
    width: 100%;
    overflow-y: scroll;
    // align-items: center;
    // justify-content: center;
  }

  .sidenav {
    @include container-height();
    width: 160px;
    padding: 0 20px;
    // align-items: center;
    // justify-content: center;
  }

  .md-sidenav-backdrop {
    @include container-height();
  }
}
