/* You can add global styles to this file, and also import other style files */
/** angular material prebuild theming **/
// @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
// @import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
// @import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';
// @import '~@angular/material/core/theming/prebuilt/purple-green.css';
/** app thming **/
@import '~@angular/material/core/theming/all-theme';
// Include non-theme styles for core.
@include md-core();
// Define a theme.
$primary: md-palette($md-cyan);
$accent: md-palette($md-amber, A200, A100, A400);
$theme: md-light-theme($primary, $accent);
// Include all theme styles for the components.
@include angular-material-theme($theme);
//category theming
$news: md-color($md-indigo, 500);
$drama: md-color($md-light-green, 600);
$variety: md-color($md-red, A400);
$etc: md-color($md-grey, 700);
$music: md-color($md-blue-grey, 500);
$information: md-color($md-purple, 400);
$sports: md-color($md-green, A700);
$anime: md-color($md-orange, A400);
$cinema: md-color($md-deep-orange, A400);
/** common styles **/
$HEADER_HEIGHT: 64px;
$HEADER_HEIGHT_XS_PL: 56px;
$HEADER_HEIGHT_SM_LS: 48px;

body {
  margin: 0;
}

@mixin piling-pale() {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

@mixin piling-deep() {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
