/* You can add global styles to this file, and also import other style files */

/** angular material prebuild theming **/
// @import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';
// @import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
// @import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';
// @import '~@angular/material/core/theming/prebuilt/purple-green.css';

/** app thming **/
@import '~@angular/material/core/theming/all-theme';

// Include non-theme styles for core.
@include md-core();

// Define a theme.
$primary: md-palette($md-cyan);
$accent:  md-palette($md-amber, A200, A100, A400);

$theme: md-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

//category theming
$news: #FFFFD8;
$drama: #D8FFD8;
$variety: md-color($md-red, A400);
$etc: #FFFFFF;
$music: #D8D8FF;
$information: #F2D8FF;
$sports: md-color($md-green, A700);
$anime: md-color($md-orange, A400);
$cinema: #FFD8D8;


/** common styles **/
body {
  margin: 0;
}
